/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
body {
    background-image: url("https://lh3.googleusercontent.com/3WehHO6C0df5NibP9D8JcG54ALxpsONi7egxOAH5CyGEXjr7QaYhqYwssd21H5Nqi_9mvId2OORqDKgVjAok4t5yvBzZOA6JpA2t8-0o4znWfGCE1gTNosjgJeFyl0eh8IbErmYNGymKuGxGab36pLvWQaUtyoN0of-3nGzGDdKneLNMG9hUWJADlgXlpibSb6YaXfKgq6TW32X3k8CZvLhHhY5_k9oqKu0ly4QhRfPWMpxGCNpwKiH2-QTZNsn6FuFwj7nhT9ZdEjmTUe9p6YYdTmpYT4WBSNs8XjxOXJdajDzHgEcTYjP0tC-YJLzg2SE1JDJ82YNh94GXCVRcxoC0qh23uPAQS3M7ilsG48vBtOcSwIWkgZrkACfSon97AFkrZkrTcpAhXM557OadbT49iAw6uEjS9GX9fA9YGeEPkboYL-Vsh0BDP9nOUXaebuoZl_bnS2YxuUYbELUMayKk4KwQh6LBlbV_m9GX68H3sBIczRU19GSZHXdcCPI5GVmJ3z_lXMSyQT9gmii5ErmhKpJ9-ShOHQwCP1dutcj8dTtRBZYaIQ1Wt6ojAtpeUwvGbr2yQKqovGeFn6LQ-IVCC_o7vemGN9bVbFuu0fJn82vhp0x6SufsbCPUXxrQM1iKkbqzbBn0LSJ9vVlmxcEXhR860Z16RNySyQ0Uu-f_tBRR98P5tPSZhUSLE9_B-8u9Nb13UFc7G1V_BewhXsfP=w2748-h2060-no");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}